<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Restaurants</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
    <h1>Here's all the Restaurants</h1>
    <a href="/restaurants/new">Add a New Restaurant</a>
  </div>
    <div class="card-container">
      <% restaurants.forEach((restaurant) => { %>
        <h4>
        A restaurant in <%= restaurant.address %> owned by <%= restaurant.owner.username %>.
      </h4>
        <a href="/restaurants/<%= restaurant._id %>">View more details.</a>
      <% }) %>
    </div>
  </body>
</html>